
#inputContainer{
    position:absolute;
    padding: 0;
    left: 25vw;
    top:5vh;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 60vw;
}

#rightarrow{
    position:absolute ;
    top:2vh;
    height:7vh;
    left:38vw;
}

#leftarrow{
    position: absolute;
    left:6vw;
    top:2vh;
    height:7vh;
    transform: rotate(180deg)
}



.dropdown{
    background-color: white;
    color: black;
    padding: 1vw;
    font-size: 2vh;
    border-color: grey;
    cursor: pointer;
    border-width: 1px;
    border-radius:1vh;
    width: 26vw;
    user-select: none;

}


.option {
    padding: 4vh;
    text-overflow: ellipsis;
    overflow: hidden;
    color:black;
    background-color: white;
}



label{
    display:flex;
    align-self: center;
}


.time {
    background-color: #b71234;
    color: white;
    padding:1vw;
    border:transparent;
    border-radius:1vh;
}


#courseBox{
    top: 20vh;
    left: 2vw;
    position: absolute;
    width: 50vw;
}

#labelBox{
    top:36vh;
    left: 2vw;
    position: absolute;
    width: 50vw;
}

#timeBox{
    top: 52vh;
    left: 2vw;
    position:absolute;
    width: 50vw;
}


.submitButton {
    cursor: pointer;
    position:absolute;
    top:75vh;
    left:8vw;
    background-color: #b71234;
    border: none;
    color: white;
    font-size: 4vh;
    display: block;
    height: 2.5vh;
    text-align: center;
    text-decoration: none;
    line-height: 0;
    padding: 4vh 15vw 4vh;
    border-radius:2vw;
}

#labelForSubjects{
    margin-left: 0;
    font-size:2vw;
    font-style: normal;
    border: none;
    margin-right: 6vw;
    width:14vw;

}

input[type="time"] {
    background-color: #b71234;
    color: white;
    border: none;
    padding: 1vw;
    font-size: 4vh;
    width: 25.5vw;
}

.time {
    background-color: #b71234;
    color: white;
    padding: 1vw;
    border: transparent;
    border-radius: 2vh;
}



#rightArrowBox{
    height:auto;
    width:15vw;
    z-index: 1;
    align-items: end;
    background-color: white;
    cursor:pointer;
    padding-left: 6vw;
}


#leftArrowBox{
    height:15vh;
    width:11vw;
    z-index: 1;
    background-color: white;
    cursor:pointer;
}




#day {
    background: white;
    color: black;
    border: none;
    user-select: none;

}

#displayDay {
    position: relative;
    border: none;
    font-style: normal;
    padding:3vh 3vw 0 0;
    user-select: none;
    z-index: -2;
    text-align: center;
    font-size:4vw;
    width: 27vw;
    max-height: 50px;
}


#arrows{
    display: inline-flex;
    width: 67vw;
    position: absolute;
    top: 2vh;
    left:2vw;
}

i {
    align-self: flex-start;
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 5vh;
}

.left {
    position:absolute;
    top:5vh;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.hourSelect {
    background: white;
    color:black;
    padding: 1vw;
    font-size: 1.5vw;
    border-color: black;
    cursor: pointer;
    border-width: 1px;
    border-radius:2vh;
    width: 13vw;
}

.minuteSelect {
    background: white;
    border-color:black;
    color: black;
    padding: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    border-width: 1px;
    border-radius:2vh;
    width: 13vw;

}

@media only screen and (max-width: 800px) {
    #inputContainer {
        position: absolute;
        top:2vh;
        left:16vw;
        padding: 0;
        display: inline-block;
        margin-top: 8vh;
        align-items: flex-start;
        justify-content: space-evenly;;
        min-width: 250px;
        height: available;

    }

    .dropdown {
        background-color: white;
        color: black;
        padding: 2vh;
        font-size: 1rem;
        border-color: grey;
        cursor: pointer;
        border-width: 1px;
        border-radius: 2vh;
        width: 60vw;
        text-overflow: ellipsis;
        overflow: hidden;

    }


    .option {
        padding: 4vh;
        text-overflow: ellipsis;
        overflow: hidden;
        width:60vw;
        font-size: 3vh;
    }

    #labelForSubjects {
        margin-top: 2vh;
        margin-left: 2vw;
        display: inline-block;
        width:50vw;
    }

    .submitButton {
        position: absolute;
        top: 60vh;
        left:4vw;
        font-size: 3vh;
        display: block;
        height: 10px;
        line-height: 0;
        margin-top: 10vh;
        border-radius: 8px;
        width: 50vw;
        padding: 4vh 10vw 4vh;
    }

    input[type="time"] {
        background-color: #b71234;
        color: white;
        border: none;
        padding: 5vw;
        font-size: 4vw;
        width: 52vw;
        overflow-y: auto;
    }

    #arrows{
        top:2vh;
        width: 68vw;
        margin:0;

    }

    #rightarrow{
        position:absolute ;
        top:2vh;
        height:3vh;
        left:5vw;
    }

    #leftarrow{
        position: absolute;
        left:6vw;
        top:2vh;
        height:3vh;
        transform: rotate(180deg)
    }

    #rightArrowBox{
        position:absolute;
        margin-top: 1vh;
        width: 24vw;
        left: 50vw;
        height: 10vh;
    }

    #leftArrowBox{
        margin-top: 1vh;
        position:absolute;
        left:0;
        height: 10vh;
        width:16vw;
        background-color: white;
    }

    .left {
        top:2vh;
    }

    .right{
        top: 2vh;
    }

    i {
        align-self: flex-start;
        border: solid black;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }


    #displayDay {
        padding-top:1vh;
        font-size: 5vh;
        padding-left: 15vw;
        width: 35vw;
        text-align: center;
        margin:0;

    }





    .hourSelect {
        margin: 0;
        background-color: white;
        color: black;
        padding: 2vh;
        font-size: 3vw;
        border-color: grey;
        cursor: pointer;
        border-width: 1px;
        border-radius:2vh;
        width: 30vw;
        float: left;

    }




    .minuteSelect {
        background-color: white;
        color: black;
        padding: 2vh;
        font-size: 3vw;
        border-color: grey;
        cursor: pointer;
        border-width: 1px;
        border-radius:2vh;
        width:30vw;

    }

    .submitButton{
        margin-left: 6vw;
        min-height:  50px;
        align-items: center;
    }


    #courseBox{
        position:absolute;
        top:10vh;
        min-height: 100px;
        margin-left: 2vw;
    }

    #labelBox{
        position:absolute;
        top:27vh;
        min-height: 100px;
        margin-left: 2vw;
    }

    #timeBox{
        position:absolute;
        top:45vh;
        min-height: 100px;
        margin-left: 2vw;
        width:min-content;
    }

}

