* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
    padding: 2% 10%;
    width: 75%;
    height:8%;
    background: #b71234;
    text-align: center;
    margin: -46% 25%;
    top: 0;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 45% 25%;
    width: 75%;
    height:5%;
    padding: 2% 10%;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    margin: -45% 25%;
    width: 75%;
    height: 27%;
    padding: 13.2% 10%;
    background: #eee;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 16%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #b71234;
    color: white !important
}






/* calendar */
table.calendar {
    border-left: 1px solid #999;
}

tr.calendar-row {
}

td.calendar-day {
    min-height: 80px;
    font-size: 11px;
    position: relative;
}

.calendar-day td .active {
    padding: 5px;
    background: #b71234;
    color: white !important
}

* html div.calendar-day {
    height: 80px;
}

td.calendar-day:hover {
    background: #eceff5;
}

td.calendar-day-np {
    background: #eee;
    min-height: 80px;
}

* html div.calendar-day-np {
    height: 80px;
}

td.calendar-day-head {
    background: #ccc;
    font-weight: bold;
    text-align: center;
    width: 120px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

div.day-number {
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

/* shared */
td.calendar-day, td.calendar-day-np {
    width: 120px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}