ul {list-style-type: none;}

.kalender{
    width: 50vw;
    background-color: #ffffff;
    position: absolute;
    left: 32.5vw;
    top: 15vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.month{
    text-align: center;
    background-color: #b71234;
    height: 10vh;
    line-height: 8vh;
    border-radius: 5px;
}
.month ul {
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.calendar-day{
    width: 12vw;
    text-align: center;
    cursor: pointer;
}
.calendar-day:hover{
    background-color: #dddddd;
}
.calendar-day-head{
    padding: 0px;
    text-align: center;
    height: 10vh;
    line-height: 12vh;
}

.calendar-day:after{
    content: "";
    display: block;
    padding-bottom: 70%;
}