body{
    background-color: white;
    margin: 0;
    padding: 0;
    background-image: url("images/tluhoone.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

#banner{
    width: 100vw;
    height: 5vh;
    background-color: #b71234;
}

#tlu_logo{
    height: 5vh;
}

#login_container{
    background-color: white;
    width: 30vw;
    margin-top: 30vh;
    margin-left: 35vw;
    text-align: center;
    border-radius: 5px;
}

#tlu_logo2{
    height: 5vh;
    margin-top: 2vh;
}
#submit_button{
    border-radius: 20px;
    border: none;
    background-color: #b71234;
    color: #dddddd;
    height: 5vh;
    width: 10vw;
    cursor: pointer;
    font: inherit;
    box-shadow: inset 0 -3px 0 #950a27;
}

#error_message{
    padding: 2vh;
}

@media only screen and (max-width: 600px) {
    #login_container{
        width: 40vw;
        margin-left: 30vw;
    }
}