#wrapper{position:relative;}

#radarChart{
    position:absolute;
    border:1px solid green;

}

#barChart{
    position:absolute;
    border:1px solid red;

}
#pieChart{
    position:absolute;
    border:1px solid blue;

}

.statistics {
    width: 35vw;
    background-color: #ffffff;
    position: absolute;
    left: 40vw;
    top: 10vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 4vh;
}

#test {
    width: 5vw;
    background-color: #b71234;
    position: absolute;
    color: white;
    left: 25vw;
    top: 10vh;
    cursor: pointer;
}