body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin: 0;
    min-height: 500px;
    font-family: "Arial";
    /*overflow: hidden;*/
}

#topbar {
    background-color: #b71234;
    color: white;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
}
.dropdowns{
    visibility: hidden;
    position: absolute;
}
#logout {
    background-color: #b71234;
    border: none;
    top: 0;
    right: 0;
    height: 4vh;
    border: none;
    justify-content: flex-end;
    flex: 2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


#logout_img {
    background-color: #b71234;
    height: 3vh;
    padding: 0;
    margin: 0.5vh;
    margin-right: 2vw;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#client_name {
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    flex: 3;
    margin-right: 0vw;
    line-height: 4vh;
    text-decoration: none;
    color:white;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    z-index: 2;
}

#client_link{
    text-decoration: none;
    color: white;
}

#tlu_logo {
    height: 4vh;
    display: inline;
    -webkit-tap-highlight-color: transparent;
}

#timemate {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 7vw;
    margin: 0;
    padding: 0;
    font-family: Impact, Charcoal, sans-serif;
}
.time {
    background-color: #b71234;
    color: white;
    padding: 1vw;
    border: transparent;
    border-radius: 2vh;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    top: 0;
    width: 10vw;
    z-index: 1;
}
.page {
    background-color: white;
    width: 10vw;
    height: 24vh;
    text-align: left;
    text-decoration: none;
    align-items: center;
    font-size: 3vw;
    cursor: pointer;
    display: flex;
    padding:0;
    transition: 0.3s;
}
.page:hover{
    background-color:  #b71234;
    color: white;
    border-radius: 0px 30px 30px 0px;
    width: 25vw;
    text-decoration: none;
}

.link_names{
    margin-left: 1vw;
    visibility: hidden;
    display: none;
    transition: 0.3s visibility;
    color: white;
}

.link_icons{
    width: 5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    line-height: 24vh;
    position: relative;
    text-align: center;
    transition: 0.3s margin-left;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.page:hover .link_icons{
     background-color:  transparent;
 }

.page:hover .link_names{
    visibility: visible;
    display: block;
}
#chosen {
    background-color: #b71234;
    color: white;
    border-radius: 0px 30px 30px 0px;
}
#Linkout{
    visibility: hidden;
    display: none;
}
#Links{
    visibility: hidden;
    display: none;
}
#img_container{
    visibility: hidden;
    display: none;
}


@media only screen and (max-width: 800px) {
    #label {
        font-size: 3vh;
    }
    .link_icons{
        visibility: hidden;
        display: none;
    }

    #topbar {
        background-color: #b71234;
        color: white;
        width: 100vw;
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        border: none;
    }
    .link_names{
        visibility: visible;
        display: block;
        text-align: center;
        color: inherit;
    }
    #client_name {
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        flex: 1;
        margin-right: 0vw;
        line-height: 5vh;
        margin-right: 3vw;
    }

    #logout_img {
        position: absolute;
        display: none;
    }

    .links {
        display: flex;
        flex-wrap: nowrap;
        background-color: #b71234;
        text-align: center;
        flex-direction: row;
        position: relative;
        top: 5vh;
        width: 100%;
    }

    .page {
        background-color: #b71234;
        height: 6vh;
        line-height: 1vh;
        font-size: 2.5vh;
        width: 33.3vw;
        border-radius: 6px 6px 0 0;
        color: white;
        transition: none;
        -webkit-tap-highlight-color: transparent;

    }
    .page:hover{
        margin: 0;
        width: 33.3vw;
        background-color: #b71234;
    }



    #chosen {
        background-color: white;
        color: black;
        border-radius: 6px 6px 0 0;
        -webkit-tap-highlight-color: transparent;
    }

    #tools {
        display: none;
    }

    .images{
        display: none;
    }

    .link_names{
        margin:0;
        width: 33.3vw;
    }

    #logout{
        visibility: hidden;
        display: none;
    }

    /**/
    #myLinks{
        height: 3vh;
        text-align: center;
    }

    #topbar #myLinks {
        display: none;
    }

    #Links {
        color: white;
        text-decoration: none;
        line-height: 5.1vh;
        margin-right: 3vw;
        position: absolute;
        left: 10.5vw;
        background-color: #b71234;
        width: 34vw;
        border: none;
        font-size: 2.5vh;
        visibility: visible;
        display: block;
        animation: fadeIn ease 0.5s;
        -webkit-animation: fadeIn ease 0.5s;
        -moz-animation: fadeIn ease 0.5s;
        -o-animation: fadeIn ease 0.5s;
        -ms-animation: fadeIn ease 0.5s;
    }

    #Linkout{
        position: absolute;
        left: 55vw;
        top: 0;
        border: none;
        height: 5vh;
        width: 34vw;
        background-color:#b71234;
        padding: 0;
        color: white;
        font-size: 2.5vh;
        visibility: visible;
        display: block;
        cursor: pointer;
        animation: fadeIn ease 0.5s;
        -webkit-animation: fadeIn ease 0.5s;
        -moz-animation: fadeIn ease 0.5s;
        -o-animation: fadeIn ease 0.5s;
        -ms-animation: fadeIn ease 0.5s;
    }

    .active {
        background-color: #b40000;
        color: white;
    }
    #img_container{
        height: 5vh;
        width: 5vh;
        line-height: 6vh;
        text-align: center;
        position: relative;
        right: 0;
        visibility: visible;
        display: block;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-tap-highlight-color: transparent;
    }
    #dropdown_img{
        height: 1.9vh;
        -webkit-tap-highlight-color: transparent;
    }

    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    @-o-keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

}

    /**/




