body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Arial";
    /*overflow: hidden;*/
}

#topbar {
    background-color: #b71234;
    color: white;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.dropdowns{
    visibility: hidden;
    position: absolute;
}
#logout {
    background-color: #b71234;
    border: none;
    top: 0;
    right: 0;
    height: 4vh;
    border: none;
    justify-content: flex-end;
    flex: 2;
    cursor: pointer;
}


#logout_img {
    background-color: #b71234;
    height: 3vh;
    padding: 0;
    margin: 0.5vh;
    margin-right: 2vw;
}

#client_name {
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    flex: 3;
    margin-right: 0vw;
    line-height: 4vh;
    text-decoration: none;
    color:white;
}

#client_link{
    text-decoration: none;
    color: white;
}

#tlu_logo {
    height: 4vh;
    display: inline;
}

#timemate {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 7vw;
    margin: 0;
    padding: 0;
    font-family: Impact, Charcoal, sans-serif;
}
.time {
    background-color: #b71234;
    color: white;
    padding: 1vw;
    border: transparent;
    border-radius: 2vh;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    background-color: #b71234;
    flex-direction: column;
    position: relative;
    top: 0;
    width: 25vw;
    z-index: 1;
}
.link_icons{
    height: 8vh;
    position: absolute;
}

#first_icon{
    top: 11vh;
    left: 16vw;
    pointer-events: none;
    z-index: 2;
}

#second_icon{
    top: 35vh;
    left: 16vw;
    pointer-events: none;
    z-index: 2;
}

#third_icon{
    top: 60vh;
    left: 16vw;
    pointer-events: none;
    z-index: 2;
}

#fourth_icon{
    top: 83vh;
    left: 16vw;
    pointer-events: none;
    z-index: 2;
}

.page {
    color: white;
    background-color: #b71234;
    width: 25vw;
    height: 24vh;
    text-align: left;
    text-decoration: none;
    align-items: center;
    font-size: 3vw;
    cursor: pointer;
    display: grid;
    padding:0;
}
.link_names{
    margin-left: 1vw;
}

#chosen {
    background-color: white;
    color: black;
}


.chosen {
    color: white;
}



@media only screen and (max-width: 800px) {
    #label {
        font-size: 3vh;
    }

    #topbar {
        background-color: #b71234;
        color: white;
        width: 100vw;
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        border: none;
    }



    #client_name {
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        flex: 1;
        margin-right: 0vw;
        line-height: 5vh;
        margin-right: 3vw;
    }

    #logout_img {
        position: absolute;
        display: none;
    }

    .links {
        display: flex;
        flex-wrap: nowrap;
        background-color: #b71234;
        flex-direction: row;
        position: relative;
        top: 5vh;
        width: 100%;
    }

    .page {
        background-color: #b71234;
        text-align: center;
        height: 6vh;
        line-height: 1vh;
        font-size: 2.5vh;
        width: 33.3vw;
        border-radius: 6px 6px 0 0;
    }

    #chosen {
        background-color: white;
        color: black;
    }

    #tools {
        display: none;
    }

    .images{
        display: none;
    }

    .link_names{
        margin:0;
    }

    #logout{
        visibility: hidden;
        display: none;
    }

    /**/


    #myLinks{
        height: 3vh;
        text-align: center;
    }

    #topbar #myLinks {
        display: none;
    }

    #Links {
        color: white;
        text-decoration: none;
        line-height: 5.1vh;
        margin-right: 3vw;
        position: absolute;
        left: 10.5vw;
        background-color: #b71234;
        width: 34vw;
        border: none;
        font-size: 2.5vh;
    }

    #Linkout{
        position: absolute;
        left: 55vw;
        top: 0;
        border: none;
        height: 5vh;
        width: 34vw;
        background-color:#b71234;
        padding: 0;
        color: white;
        font-size: 2.5vh;
    }

    #topbar a:hover {
        background-color: #b40000;
        color: black;
    }

    .active {
        background-color: #b40000;
        color: white;
    }
    #img_container{
        height: 5vh;
        width: 5vh;
        line-height: 6vh;
        text-align: center;
        position: relative;
        right: 0;
    }
    #dropdown_img{
        height: 2vh;
    }
    /**/

}




