body{
    background-color: rgb(255,255,255);
    height: 100%;
    width: 100%;
    margin: 0;
}

#timemate{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 7vw;
    margin: 0;
    padding: 0;
    font-family: Impact, Charcoal, sans-serif;

}

#links{
    margin: auto;
    display:block;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    position: relative;
    top:5vw;

}
.lingid{
    background-color:#b71234;
    border: none;
    color: white;
    width:30vw;
    height:10vw;
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
    margin: 0px 0px;
    cursor: pointer;
    display: block;
    border:1px;
    border-color:black ;
}
.lingid:target{
    background-color:white ;
    color:black ;
}
.username{
    text-align: right;
}
.logout{
    align-items: left;
}
#buttonContainer{
    
    width:40vw;
    height:40vw;
    text-align: center;
    text-decoration: none;
}
.button{
    cursor: pointer;
    
}

.chosen
    color:white
.button{
    background-color:rgb(#b71234);
    color:white;
    
}
#inputContainer{
    width: 40%;
    margin: 0;
    padding: 0;
    margin-left: 40%;
    margin-top: 30%;
    position: absolute;
}
