ul {
    list-style-type: none;
}

#kuu {
    color: white;
    font-size: 16px;
}

#aasta {
    color: white;
    font-size: 16px;
    line-height: 0vh;
}

.kalender {
    width: 35vw;
    background-color: #ffffff;
    position: absolute;
    left: 30vw;
    top: 10vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 4vh;
}
.month {
    text-align: center;
    background-color: #b71234;
    height: 10vh;
    line-height: 8vh;
    border-radius: 5px;
    font-family: Verdana, sans-serif, bold;
}
.month ul {
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0;
    cursor: pointer;
}

.month ul li {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    height: 2vh;
    top: 0;
    position: absolute;
    padding: 4vh;
    line-height: 2vh;
    border-radius: 5px;
    left: 0;
}

.prev:hover {
    background-color: #950a27;
}

.month .next {
    float: right;
    height: 2vh;
    top: 0;
    position: absolute;
    padding: 4vh;
    line-height: 2vh;
    border-radius: 5px;
    right: 0;
}

.next:hover {
    background-color: #950a27;
}

.calendar-day-np {
    width: 12vw;
    text-align: center;
    cursor: pointer;
    color: #c8c8c8;
}

.calendar-day-np:after {
    content: "";
    display: block;
    padding-bottom: 60%;
}

.calendar-day {
    width: 12vw;
    text-align: center;
    cursor: pointer;
}
.calendar-day:hover {
    background-color: #dddddd;
}
.calendar-day-head {
    padding: 0px;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}

.calendar-day:after {
    content: "";
    display: block;
    padding-bottom: 60%;
}

.day-number {
    margin-top: 2vh;
    pointer-events: none;
}
.calendar-day-head {
    font-family: Verdana, sans-serif, bold;
}

.calendar-day-event-container {
    width: 12vw;
    text-align: center;
    cursor: pointer;
}

.calendar-day-event-container:after {
    content: "";
    display: block;
    padding-bottom: 60%;
}
.calendar-day-event-container:hover {
    background-color: #dddddd;
}
.display-alert {
    white-space: nowrap;
    background-color: #b40000;
    width: 6%;
    margin: 4%;
    margin-top: 0;
    height: 0.2vw;
    border-radius: 100%;
    position: absolute;
    float: left;
}
.popuptext {
    background-color: #b71234;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    height: 8vh;
    flex-direction: row;
    color: white;
}
.popupasi {
    width: 28vw;
    height: 30vh;
    text-align: center;
    margin-top: 0vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(166, 166, 174);
    background: linear-gradient(90deg, rgb(166, 166, 174) 0%, rgb(166, 166, 174) 46%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 79%, rgba(166, 166, 174) 79%, rgba(166, 166, 174) 100%);

}

.popup {
    height: 30%;
    position: fixed;
    right: 4vw;
    width: 28vw;
    z-index: 1;
    top: 5vw;
    background-color: transparent;
    overflow-x: visible;

}
#aine{
    width: 46%;
 }
#õppetegevus{
    left: 46%;
    width: 33%;
}
#kestvus{
    left: 79%;
    width: 21%;
}
#kõik{
    background-color: #b71234;
}




.popup a:hover {
    color: #f1f1f1;
}

.popupCloseButton {
    position: absolute;
    top: 0;
    width: 28vw;
    height: 30vh;
    cursor: pointer;
    color:transparent;

}
@media only screen and (max-width: 800px) {
    .kalender {
        top: 17vh;
        font-size: 3vh;
        width: 90vw;
        left: 5vw;
    }
}


