ul {
    list-style-type: none;
    font-size: 0px;
}
.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}
#radarChart {
    position: absolute;
    border: 1px solid green;
}

#barChart {
    position: absolute;
    border: 1px solid red;
}
#pieChart {
    position: absolute;
    border: 1px solid blue;
}
.statistics {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
    font-size: 4vh;
}
.chartWrapper {
    position: absolute;
    overflow: auto;
    height: 75vh;
    border-radius: 5px;
    left: 25vw;
    width: 65%;
    top: 20vh;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#statistics > canvas {
    position:relative;
    left:0;
    top:0;

}
#changeView {
    position: absolute;
    top: 12vh;
    background-color: #b71234;
    border: none;
    color: white;
    width: 25vw;
    height: 5vh;
    left: 45vw;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-size: 2vh;
    border-radius:5px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.prev{
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 12vh;
    width: 5vw;
    height: 5vh;
    left: 38vw;
    background-color: #b71234;
    font-size: 3vh;
    line-height: 5vh;
    text-align: center;
    border-radius:5px;
    cursor: pointer;
    color: white;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.prev:hover {
    background-color: #950a27;
}


.next{
    position: absolute;
    top: 12vh;
    width: 5vw;
    height: 5vh;
    left: 72vw;
    background-color: #b71234;
    font-size: 3vh;
    line-height: 5vh;
    text-align: center;
    border-radius:5px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    color: white;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.next:hover {
    background-color: #950a27;
}

#subject{
    height: 5vh;
    width: 10vw ;
    position: absolute;
    top: 12vh;
    left: 80vw;
    background-color: #b71234;
    color: white;
    border: none;
    border-radius: 5px;
}

#report_count{
    width: 45vw;
    height: 5vh;
    line-height: 5vh;
    left: 35vw;
    top: 6vh;
    color: black;
    position: absolute;
    text-align: center;
    font-size: 3vh;
    font-weight: 500;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}



/*
#specific_activity {
    width: 1000vw;
    height: 800vh;
}*/

@media only screen and (max-width: 800px) {
    .statistics {
        top: 10vh;
        font-size: 3vh;
        width: 900px;
        left: 5%;
        right: 5%;
        height: 500px;
        position: static;
    }

    .chartWrapper {
        position: absolute;
        overflow: scroll;
        height: 60vh;
        left: 5%;
        width: 90%;
        top: 25vh;
        right: 5%;
    }
    #subject{
        text-align: center;
        height: 5vh;
        width: 90vw ;
        position: absolute;
        top: 19vh;
        z-index: 4;
        left: 5vw;
        background-color: #b71234;
        color: white;
        border: none;
        border-radius: 5px;
    }
    select {
        text-align-last:center;
    }

    #changeView{
        width: 60vw;
        left: 20vw;
        top: 13vh;
    }
    .next{
        top: 13vh;
        left: 85vw;
        width: 10vw;
    }

    .prev{
        top: 13vh;
        left: 5vw;
        width: 10vw;
    }
    #report_count{
        width: 90vw;
        height: 5vh;
        line-height: 5vh;
        left: 5vw;
        top: 90vh;
        color: black;
        position: absolute;
        text-align: center;
        font-size: 3vh;
        font-weight: 500;
    }
}
