ul {
    list-style-type: none;
    font-size: 0px;
}
#chartWrapper {
    position: relative;
    overflow-x: scroll;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}



#radarChart {
    position: absolute;
    border: 1px solid green;
}

#barChart {
    position: absolute;
    border: 1px solid red;
}
#pieChart {
    position: absolute;
    border: 1px solid blue;
}

.statistics {
    width: 100%;
    background-color: #ffffff;
    position: relative;


    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 4vh;
}

.chartWrapper {
    position: absolute;
    overflow: auto;
    height: 75vh;
    left: 20vw;
    width: 70%;
    top: 15vh;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

#statistics > canvas {
    position:relative;
    left:0;
    top:0;



}

#changeView {
    position: absolute;
    top: 8vh;
    background-color: #b71234;
    border: none;
    color: white;
    width: 20vw;
    height: 5vh;
    left: 52.5vw;
    cursor: pointer;
}

.prev{
    position: absolute;
    top: 8vh;
    width: 5vw;
    height: 5vh;
    left: 47.5vw;
    background-color: #b71234;
    font-size: 3vh;
    line-height: 5vh;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
.prev:hover {
    background-color: #950a27;
}


.next{
    position: absolute;
    top: 8vh;
    width: 5vw;
    height: 5vh;
    left: 72.5vw;
    background-color: #b71234;
    font-size: 3vh;
    line-height: 5vh;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.next:hover {
    background-color: #950a27;
}



/*
#specific_activity {
    width: 1000vw;
    height: 800vh;
}*/

@media only screen and (max-width: 800px) {
    .statistics {
        top: 10vh;
        font-size: 3vh;
        width: 900px;
        left: 5%;
        right: 5%;
        height: 500px;
        position: static;
    }

    .chartWrapper {
        position: absolute;
        overflow: scroll;
        height: 75vh;
        left: 5%;
        width: 90%;
        top: 20vh;
        right: 5%;

    }

    #test {
        position: absolute;
        top: 15vh;
        background-color: #b71234;
        border: none;
        border-radius: 5px;
        color: white;
        width: 60vw;
        height: 5vh;
        left: 20vw;
    }

    #changeView{
        width: 70vw;
        left: 15vw;
        top: 13vh;
    }
    .next{
        top: 13vh;
        left: 85vw;
        width: 10vw;
    }

    .prev{
        top: 13vh;
        left: 5vw;
        width: 10vw;
    }
}
