/* Toggle switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #81DF00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #81DF00;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Toggle switch end*/

#first{
    top: 7vh;
}
#second{
    top: 14vh;
}
#third{
    top: 21vh;
}

.switch_box{
    left: 2vw;
    position: absolute;
    white-space: nowrap;
    text-align: right;
}
.switch_text{
    font-size: medium;
}
#notifications{
    margin-left: 25vw;
    top: 4vh;
    position: absolute;
    height: 96vh;
    width: 30vw;
}

/* history*/
#history{
    height: 96vh;
    width: 50vw;
    margin-left: 50vw;
    top: 4vh;
    position: absolute;
}

#history_header{
    text-align: center;
    font-size: large;
    margin-top: 3vh;
}

#content_box{
    height: 80vh;
    width: 48vw;
    margin-left: 1vw;
    margin-top: 2vh;
    background-color: green;

}

#back_button{
    display: none;
}

label{
    margin-left:0%;
}


@media only screen and (max-width: 800px) {
    #chosen{
        display:none
    }

    #history{
        height: 65vh;
        width: 100vw;
        margin-left: 0vw;
        top: 35vh;
        position: absolute;
    }

    #content_box{
        height: 40vh;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 2vh;
    }

    #notifications{
        margin-left: 0vw;
        top: 5vh;
        position: absolute;
        height: 30vh;
        width: 100vw;
    }

    #back_button{
        display: block;
        height: 6vh;
        width: 50vw;
        margin-left: 25vw;
        margin-top: 5vh;
        background-color: #950a27;
        border-radius: 20px;
        text-align: center;
        line-height: 6vh;
        color: white;
    }
}