/* Toggle switch*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #81DF00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #81DF00;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Toggle switch end*/

#first{
    top: 7vh;
}
#second{
    top: 14vh;
}
#third{
    top: 21vh;
}

.switch_box{
    left: 2vw;
    position: absolute;
    white-space: nowrap;
    text-align: right;
    height: 33px;
    line-height: 33px;
}
.switch_text{
    font-size: medium;
}
#notifications{
    margin-left: 25vw;
    top: 4vh;
    position: absolute;
    height: 95vh;
    width: 30vw;
}

/* history*/
#history{
    height: 96vh;
    width: 50vw;
    margin-left: 50vw;
    top: 4vh;
    position: absolute;
}

#history_header{
    text-align: center;
    font-size: large;
    margin-top: 3vh;
}

#content_box{
    height: 80vh;
    width: 48vw;
    margin-left: 1vw;
    margin-top: 2vh;

}

#back_button{
    display: none;
}
#one_item_history{
    margin-top: 2vh;
    height: 10vh;
    margin-left: 0;
    display: flex;
    flex-direction: row;
}
#date_box{
    background-color: white;
    margin-top: 1vh;
    height: 8vh;
    width: 8vh;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    text-align: center;
    color: #950a27;
    order: 1;
}

#subject_box{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    text-align: left;
    flex-grow: 4;
    order: 2;
}

#history_day{
    white-space: pre;
    font-size: 4vh;
}

#history_month{
    white-space: pre;
    font-size: 2vh;
}

#history_subject{
    font-weight: bold;
    font-size: 1.5vh;

}

#history_activity{
    margin-top: 1vw;
}

#history_time{
    order: 3;
    flex-grow: 1;
    margin-right: 1vw;
    text-align: right;
    line-height: 10vh;
    font-size: 1.8vw;
}
.popup {
    top: 40vh;
    left: 35vw;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popupbtn{
    background-color: #c8c8c8;
    border-radius: 4px;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.delete_activity{
    background-color: #950a27;
    display: flex;
    order: 4;
    border: none;
    height: 5vh;
    margin-top: 2.5vh;
    margin-left: 2vw;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media only screen and (max-width: 800px) {
    .switch_box{
        left: 10vw;
    }
    .switch_text{
        font-size: 4vw;
    }
    #chosen{
        display:none
    }

    #history{
        width: 100vw;
        margin-left: 0vw;
        top: 32vh;
        position: absolute;
        height: 60vh;
    }

    #content_box{
        height: 40vh;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 2vh;
    }

    #notifications{
        margin-left: 0vw;
        top: 5vh;
        position: absolute;
        height: 30vh;
        width: 100vw;
    }

    #back_button{
        display: block;
        position: absolute;
        height: 6vh;
        width: 50vw;
        left: 25vw;
        bottom: 3vh;
        background-color: #950a27;
        border-radius: 20px;
        text-align: center;
        line-height: 6vh;
        color: white;
        cursor: pointer;
        text-decoration:none;
    }

}
