.dropdown{
    background-color: white;
    color: black;
    padding: 1vw;
    font-size: 2vw;
    border-color: grey;
    cursor: pointer;
    border-width: 1px;
    border-radius:2vh;
    width: 35vw;
    position: absolute;
    top: 10vh;
    left:32.5vw;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartWrapper {
    position: absolute;
    overflow: auto;
    height: 75vh;
    border-radius: 5px;
    left: 25vw;
    width: 65%;
    top: 20vh;
    border-width:1px;
    border-style:solid;
    border-color:black;
    border: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#statistics_teacher{
    height: 20vw;
    width: 50vw;
    position: absolute;
    left: 0vw;
    top: 0vh;
    font-size: 4vw;
    line-height: 35vw;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 800px) {
    .dropdown{
        width: 80vw;
        font-size: 3vw;
        left: 10vw;
    }

    #statistics_teacher{
        top: 10vh;
        font-size: 3vh;
        width: 900px;
        left: 5%;
        right: 5%;
        height: 500px;
        position: static;
    }

    .chartWrapper {
        position: absolute;
        overflow: scroll;
        height: 60vh;
        left: 5%;
        width: 90%;
        top: 25vh;
        right: 5%;
    }
}
